<div class="x-bookable">
  <div class="x-bookable-bbs">
    <div ng-show="loaded && !list.rows.length" ng-transclude></div>

    <div ng-switch on="listingtype" ng-show="loaded && list.rows.length">
      <div class="x-bookable-bbs-faq" ng-switch-when="faq">
        <table class="table">
          <tbody>
            <tr ng-repeat-start="article in list.rows" class="pointer" ng-click="select(article)">
              <td class="x-bookable-bbs-title">
                <a class="dotted">{{article.title}}</a>
              </td>
              <td class="x-bookable-bbs-arrow" width="50" ng-class="{
                'x-bookable-bbs-arrow-down': selected.id === article.id
              }">
                <i class="icon-chevron-right"></i>
              </td>
            </tr>
            <tr ng-repeat-end ng-class="selected.id === article.id ? '' : 'hidden'">
              <td class="x-bookable-bbs-desc" colspan="2" ng-bind-html="article.html || article.desc | tobr | unsafe"></td>
            </tr>
            <tr ng-if="!list.rows.length">
              <td colspan="100" class="text-center">등록된 게시물이 없습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="x-bookable-bbs-list" ng-switch-when="list">
        <table class="table">
          <thead>
            <th width="80">번호</th>
            <th class="x-bookable-bbs-title">제목</th>
            <th width="150">등록일</th>
            <th width="80">조회수</th>
          </thead>
          <tbody>
            <tr ng-repeat="article in list.rows">
              <td>{{articleno($index)}}</td>
              <td class="x-bookable-bbs-title">
                <a href ng-click="select(article)">{{article.title}}</a>
              </td>
              <td>
                {{article.created | date:'yyyy년 MM월 dd일'}}
              </td>
              <td>
                {{article.hit || 0 | currency}}
              </td>
            </tr>
            <tr ng-if="!list.rows.length">
              <td colspan="100" class="text-center">등록된 게시물이 없습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="x-bookable-bbs-thumbnail" ng-switch-when="thumbnail">
        <div class="row" ng-show="list.rows.length">
          <div class="col-xs-{{colxs || colsm || colmd || col || 12}} col-sm-{{colsm || colmd || col || 6}} col-md-{{colmd || col || 4}} col-lg-{{collg || col || 4}}" ng-repeat="article in list.rows">
            <div class="thumbnail">
              <div class="thumbnail-image pointer" ng-background="{{article.thumbnail | cdn}}" ng-click="select(article)"></div>
              <div class="caption">
                <a href class="thumbnail-title" ng-click="select(article)" ng-click="select(article)">{{article.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="x-bookable-bbs-crossbox" ng-switch-when="crossbox">
        <div class="crossbox visible-xs visible-sm" ng-repeat="article in list.rows">
          <div class="crossbox-image" ng-background="{{article.coverimage | cdn}}" ng-class="{
            pointer: hasdetail()
          }" ng-click="select(article)"></div>
          <div class="crossbox-body">
            <small class="crossbox-category" ng-if="article.category">{{article.category}}</small>
            <h3 class="crossbox-title" ng-class="{
              pointer: hasdetail()
            }" ng-click="select(article)">{{article.title}}</h3>
            <p class="crossbox-text" ng-bind-html="article.desc | tobr | unsafe" ng-class="{
              pointer: hasdetail()
            }" ng-click="select(article)"></p>
          </div>
        </div>

        <div class="crossbox hidden-xs hidden-sm" ng-repeat="article in list.rows">
          <div class="crossbox-image" ng-background="{{article.coverimage | cdn}}"  ng-if="$index % 2 == 0" ng-class="{
            pointer: hasdetail()
          }" ng-click="select(article)"></div>
          <div class="crossbox-body">
            <small class="crossbox-category" ng-if="article.category">{{article.category}}</small>
            <h3 class="crossbox-title" ng-class="{
              pointer: hasdetail()
            }" ng-click="select(article)">{{article.title}}</h3>
            <p class="crossbox-text" ng-bind-html="article.desc | tobr | unsafe"></p>
          </div>
          <div class="crossbox-image" ng-background="{{article.coverimage | cdn}}"  ng-if="$index % 2 != 0" ng-class="{
            pointer: hasdetail()
          }" ng-click="select(article)"></div>
        </div>
      </div>

      <div class="x-bookable-bbs-tiny" ng-switch-when="tiny">
        <ul class="list-unstyled">
          <li ng-repeat="article in list.rows"><a href class="dotted" ng-click="select(article)">{{article.title}}</a></li>
        </ul>
      </div>

      <div class="x-bookable-bbs-default" ng-switch-default>
        <div class="row" ng-show="list.rows.length">
          <div class="col-xs-{{colxs || colsm || colmd || col || 12}} col-sm-{{colsm || colmd || col || 12}} col-md-{{colmd || col || 6}} col-lg-{{collg || col || 6}}" ng-repeat="article in list.rows">
            <div class="media" ng-class="{
              'media-border': border
            }">
              <div class="media-left media-middle">
                <div class="media-image pointer" ng-background="{{article.thumbnail | cdn}}" ng-click="select(article)"></div>
              </div>
              <div class="media-body media-middle">
                <a href ng-click="select(article)">
                  <div class="cols">
                    <div class="col">
                      <h4 class="media-heading">{{article.title}}</h4>
                    </div>
                    <div class="col text-right text-light" ng-if="article.startdate || article.enddate">
                      {{article.startdate | date:'yyyy.MM.dd'}} ~ {{article.enddate | date:'yyyy.MM.dd'}}
                    </div>
                  </div>
                  <div class="media-desc">{{article.desc | ellipsis:50}}</div>
                  <div class="media-badge media-badge-lg hidden"><i class="icon-tag"></i></div>
                </a>
              </div>
              <div class="media-right media-middle hidden-xs" ng-if="buttonLabel">
                <a href ng-click="select(article)" class="btn btn-info">{{buttonLabel}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center pt25" ng-show="loaded && usePaging">
      <pagination ng-model="paging"></pagination>
    </div>
  </div>
</div>
