build/**/* linguist-vendored=false
dist/**/* linguist-vendored=false
lib/**/* linguist-vendored=false
docs/**/* linguist-vendored=false
dev/**/* linguist-vendored=false
examples/**/* linguist-vendored=false
src/**/* linguist-vendored
