<div class="x-bookable">
  <div class="x-accommodation x-calendar-roomtype">
    <div class="x-calendar-roomtype-header row nogap">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 text-center">
        <h2 class="x-calendar-roomtype-title">{{year}}년 {{month}}월</h2>
      </div>
      <div class="col-sm-4 text-right">
        <div class="btn-group" role="group">
          <a href class="btn btn-header btn-default" ng-click="showrates = !showrates">
            <span ng-if="showrates">요금숨김</span>
            <span ng-if="!showrates">요금표시</span>
          </a>
          <a href class="btn btn-header btn-default" ng-click="currentmonth()">이번달</a>
        </div>
        <div class="btn-group" role="group">
          <a href class="btn btn-header btn-default" ng-click="prevmonth()"><i class="icon-chevron-left"></i></a>
          <a href class="btn btn-header btn-default" ng-click="nextmonth()"><i class="icon-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="x-calendar-roomtype-body mt20">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week" class="x-calendar-roomtype-cell" ng-class="{
              'x-calendar-roomtype-cell-prevmonth' : day.prevmonth,
              'x-calendar-roomtype-cell-nextmonth' : day.nextmonth,
              'x-calendar-roomtype-cell-pastdate' : day.pastdate,
              'x-calendar-roomtype-cell-today': day.today,
              'x-calendar-roomtype-cell-satday': day.dayofweek == 6,
              'x-calendar-roomtype-cell-sunday': day.dayofweek == 0
            }">
              <div class="x-calendar-roomtype-cell-header">
                <span class="x-calendar-roomtype-cell-label" ng-style="{
                  'color': day.rates.promotion.color || 'transparent',
                  'border-color': day.rates.promotion.color || 'transparent'
                }">{{day.rates.promotion.name || 'none'}}</span>

                <span class="x-calendar-roomtype-cell-date">
                  {{day.day}}
                </span>
              </div>

              <div class="x-calendar-roomtype-cell-closed" ng-if="day.pastdate">
                {{labelClosed}}
              </div>
              <div class="x-calendar-roomtype-roominfo" ng-if="!day.pastdate" ng-repeat="roomtype in accommodation.roomtypes" ng-click="select(day, roomtype)">
                <div class="x-calendar-roomtype-roominfo-label">
                  <span class="x-calendar-roomtype-roominfo-status" ng-class="{
                    'x-calendar-roomtype-roominfo-status-bookable': day.rates.rates[roomtype.id].bookable,
                    'x-calendar-roomtype-roominfo-status-closed': !day.rates.rates[roomtype.id].bookable
                  }"></span>
                  <span ng-class="{
                    'text-muted': !day.rates.rates[roomtype.id].bookable
                  }">{{roomtype.name}}</span>
                </div>
                <div class="x-calendar-roomtype-roominfo-price" ng-if="showrates && day.rates.rates[roomtype.id].bookable">
                  <span class="text-strike text-muted" ng-if="day.rates.rates[roomtype.id].discount">{{day.rates.rates[roomtype.id].listprice | currency:rates.currency }}</span>
                  <span>{{day.rates.rates[roomtype.id].price | currency:rates.currency }}</span>
                </div>
                <div class="x-calendar-roomtype-roominfo-price text-muted" ng-if="showrates && !day.rates.rates[roomtype.id].bookable">
                  {{labelClosed}}
                </div>
              </dl>
            </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
