<div class="x-bookable">
  <div ng-if="accommodation.info.external.use">
    <a href class="btn btn-danger btn-xl btn-fill block" ng-click="openexternal()">예약하기</a>
  </div>
  <div ng-if="!accommodation.info.external.use">
    <div class="alert alert-warning text-center m0" role="alert" ng-if="!roomtypeid">
      {{accommodation.unitname}}이 선택되지 않았습니다.
    </div>

    <div class="alert alert-info text-center m0" role="alert" ng-if="!loaded && roomtypeid">
      정보를 로딩중입니다.
    </div>

    <div class="alert alert-danger text-center m0" role="alert" ng-if="loaded && !roomtype">
      정보를 불러올 수 없습니다.
    </div>

    <div class="x-accommodation x-bookaroom" ng-if="loaded && roomtype">
      <bookable-accommodation-calendar aid="{{accommodation.id}}" class="x-bookaroom-calendar" roomtypeid="{{roomtypeid}}" multiple ng-select="select($rates)" ng-deselect="deselect($date)"></bookable-accommodation-calendar>

      <div class="dashed"></div>

      <div class="alert alert-info text-center m0" role="alert" ng-if="!selected.length && initialmessage">
        <span ng-bind-html="initialmessage | unsafe"></span>
      </div>

      <div class="mt15" ng-if="selected.length">
        <div class="row mb5">
          <div class="col-xs-6">
            <p class="form-control-static">{{summary.qty}}개 {{accommodation.unitname}} {{summary.days}}박 <small>({{summary.capacity}}인 기준)</small></p>
          </div>
          <div class="col-xs-6 text-right">
            <ng-incrementer min="1" max="{{summary.vacancy}}" suffix="개" ng-model="summary.qty" ng-change="calc()"></ng-incrementer>
          </div>
        </div>
        <div class="row mb5" ng-if="summary.roomcharge">
          <div class="col-xs-6">
            <p class="form-control-static text-bold">{{accommodation.unitname}}요금</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="form-control-static text-bold">{{summary.roomcharge | currency:accommodation.currency}}</p>
          </div>
        </div>

        <div class="dashed"></div>

        <div class="row mb5">
          <div class="col-xs-6">
            <p class="form-control-static">성인</p>
          </div>
          <div class="col-xs-6 text-right">
            <ng-incrementer min="0" max="{{summary.maximum - summary.children}}" suffix="명" ng-model="summary.adults" ng-change="calc()"></ng-incrementer>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-xs-6">
            <p class="form-control-static">아동</p>
          </div>
          <div class="col-xs-6 text-right">
            <ng-incrementer min="0" max="{{summary.maximum - summary.adults}}" suffix="명" ng-model="summary.children" ng-change="calc()"></ng-incrementer>
          </div>
        </div>
        <div class="row mb5" ng-if="summary.extracharge">
          <div class="col-xs-6">
            <p class="form-control-static text-bold">추가인원요금</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="form-control-static text-bold">{{summary.extracharge | currency:accommodation.currency}}</p>
          </div>
        </div>

        <div class="dashed"></div>
      </div>

      <div ng-if="showDetail" ng-repeat="item in selected">
        <div class="row nogap">
          <div class="col-xs-5">
            <p class="form-control-static">
              {{item.date | moment:'MM월 DD일 (ddd)'}}
            </p>
          </div>
          <div class="col-xs-7 text-right">
            <p class="form-control-static">
              {{item.qty}} 개 {{accommodation.unitname}}, 성인 {{item.adults}}명 <span ng-if="item.children">아동 {{item.children}}명</span>
            <p>
          </div>
          <div class="col-xs-12 text-right">
            <div class="oneline">
              <strike class="text-light" ng-if="item.price < item.listprice">{{item.listprice * item.qty | currency:accommodation.currency}}</strike>
              <b>{{item.calcprice | currency:accommodation.currency}}</b>
            </div>
          </div>
        </div>
        <div class="dashed"></div>
      </div>

      <div class="mt15" ng-if="selected.length">
        <div class="row mt25">
          <div class="col-xs-12 text-right">
            <div class="fs12">{{summary.qty}}개 {{accommodation.unitname}}, {{summary.days}}박 (성인 {{summary.adults}}명 / 아동 {{summary.children}}명)</div>
            <div class="mt5">총 {{accommodation.unitname}}요금 <b>{{summary.price | currency:accommodation.currency}}</b></div>
          </div>
        </div>

        <div class="mv15">
          <bookable-accommodation-extra aid="{{accommodation.id}}" ng-update="setextraoptions($extraoptions)"></bookable-accommodation-extra>
        </div>
      </div>

      <div class="mt25" ng-if="!isbooknow">
        <div class="row nogap" ng-if="useCart">
          <div class="col-xs-6">
            <a href class="btn btn-danger btn-lg block" style="padding: 13px 15px;" ng-disabled="isavailable()" ng-click="savetocart()">장바구니</a>
          </div>
          <div class="col-xs-6">
            <a href class="btn btn-danger btn-lg btn-fill block" style="padding: 13px 15px;" ng-disabled="isavailable()" ng-click="booknow()">바로예약</a>
          </div>
        </div>

        <div class="row nogap" ng-if="!useCart">
          <a href class="btn btn-danger btn-lg btn-fill block" style="padding: 13px 15px;" ng-disabled="isavailable()" ng-click="booknow()">예약하기</a>
        </div>
      </div>

      <div class="mt25" ng-show="isbooknow && selected.length && summary.price">
        <bookable-accommodation-form aid="{{accommodation.id}}" class="x-bookaroom-form" ng-rooms="rooms" ng-extra-options="extraoptions" vertical ng-complete="complete($reservation)"></bookable-accommodation-form>
      </div>
    </div>
  </div>
</div>
