<div class="x-bookable">
  <div class="x-bookable-map-desc" >
    <div ng-if="business.info.mapdesc" ng-bind-html="business.info.mapdesc || defdesc | unsafe"></div>

    <div ng-if="!business.info.mapdesc">
        <h4>주소</h4>
        <address class="fs13">
          {{business.address}}<br>
          <strong>{{business.name}}</strong><br>
          <abbr title="Postcode" ng-if="business.postcode">(우) {{business.postcode}}</abbr>
        </address>

        <h4>연락처</h4>
        <address class="fs13">
          <abbr title="Phone">Tel:</abbr> {{business.tel || '-'}}<br>
          <a ng-if="business.email" href="mailto:{{business.email}}" class="ng-binding">김홈즈 &lt;{{business.email}}&gt;</a>
        </address>
      </div>
  </div>
</div>
