@font-family-sans-serif:  "Noto Sans", -apple-system, BlinkMacSystemFont, "Open Sans", Lato, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-family-serif:       "Nanum Myeongjo", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Lato, Monaco, Consolas, "Courier New", monospace;
@font-family-script:      "Dancing Script", Georgia, "Times New Roman", Times, serif, "Nanum Pen Script", "Nanum Myeongjo";
@font-size-base:          13px;
@text-color:              #333;