<div class="x-bookable">
  <div class="alert alert-warning text-center" role="alert" ng-if="accommodation && !roomtype">
    <span>객실을 찾을 수 없습니다.</span>
  </div>

  <div class="x-accommodation x-roomtype" ng-if="roomtype">
    <div class="pv10">
      <h4 class="mt0">객실안내</h4>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center hidden-xs" width="30%">객실명</th>
            <th class="text-center">인원</th>
            <th class="text-center">최대</th>
            <th class="text-center hidden-xs" ng-if="roomtype.info.size">크기</th>
            <th class="text-center" ng-if="roomtype.info.structure">객실구조</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center hidden-xs">{{roomtype.name}}</td>
            <td class="text-center">{{roomtype.capacity}}명</td>
            <td class="text-center">{{roomtype.maximum}}명</td>
            <td class="text-center hidden-xs" ng-if="roomtype.info.size">{{roomtype.info.size}}</td>
            <td class="text-center" ng-if="roomtype.info.structure">{{roomtype.info.structure}}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="mt20 pv10" ng-if="accommodation.ratestpls.length">
      <h4 class="mt0">요금안내</h4>

      <div class="hidden-xs">
        <table class="table table-bordered">
          <thead>
            <tr><th class="text-center" ng-repeat="tpl in accommodation.ratestpls">{{tpl.name}}</th></tr>
          </thead>
          <tbody>
            <tr><td class="text-center" ng-repeat="tpl in accommodation.ratestpls">{{(tpl.rates[roomtype.id].price || roomtype.price) | currency:'KRW':'-'}}</td></tr>
          </tbody>
        </table>
      </div>

      <div class="visible-xs">
        <table class="table table-bordered m0">
          <tbody>
            <tr ng-repeat="tpl in accommodation.ratestpls">
              <th class="text-center" width="50%">{{tpl.name}}</th>
              <td class="text-center" width="50%">{{(tpl.rates[roomtype.id].price || roomtype.price) | currency:'KRW':'-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="fs12 mt10 text-right">(예약하실 날짜와 인원수에 따라 요금이 달라질 수 있습니다.)</p>
    </div>

    <div class="mt20 pv10" ng-if="roomtype.html">
      <h4 class="mt0">객실소개</h4>
      <p ng-bind-html="roomtype.html | unsafe"></p>
    </div>

    <div class="mt20 pv10">
      <h4 class="mt0">이용시 유의사항</h4>

      <div ng-bind-html="accommodation.terms.notice | unsafe"></div>
    </div>

    <div class="mt20 pv10">
      <h4 class="mt0">입금안내</h4>

      <div ng-bind-html="accommodation.terms.payment | unsafe"></div>
    </div>

    <div class="mt20 pv10">
      <h4 class="mt0">환불규정</h4>
      <div ng-bind-html="accommodation.terms.refund | unsafe"></div>
    </div>
  </div>
</div>
